/.idea/

/target/
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml

/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/fileChanges/last-build.bin
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/target/classes/com/artem_agayev/sapcp/configurations/ServletConfig.class
/target/sapmaven/WEB-INF/classes/com/artem_agayev/sapcp/configurations/ServletConfig.class
